.App {
  text-align: center;
}

.app-header{
  text-align: center;
  background-color: #5e4e6d;
  color: #eceaf2;
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
}

.nav{

}
.nav Link{

}
.nav:hover{

}

div#welcome {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10%;
}
.grid-container-profile {
  display: grid;
  height: 100%;
  grid-template-columns: 34px 66px 1fr 1.5fr 0.1fr 10px 1.5fr 0.3fr 192px 68px 32px;
  grid-template-rows: 50px 50px 1fr 1fr 0.2fr 21.1px 10px 1.9fr 0.3fr;
  grid-gap: 3px 3px;
  grid-template-areas: ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . .";
  background-color: #eceaf2;
}

.big-calendar {
  grid-area: 2 / 2 / 5 / 6;
  background-color: #f2f2f2;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
 }
 .Calendar{
   align-self: center;
   margin-left: 33px;
 }

.my-games-header {
  grid-area: 2 / 7 / 3 / 8;
  text-align: center;
  background-color: #ca93d6;
  border-radius: 10px;
  color: #efefe3;
  border-style: solid;
  border-color: #efefe3;
}

.user-details { grid-area: 3 / 9 / 6 / 11; }

.friends-profile-container { grid-area: 5 / 7 / 9 / 12; }

#event-header-profile{
  margin-top: 10px;
  text-align: center;
  background-color: #ca93d6;
  border-radius: 10px;
  color: #efefe3;
  border-style: solid;
  border-color: #efefe3;
}

.events-profile {
  grid-area: 6 / 2 / 9 / 4;

  background-color: #f2f2f2;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
 }

.profile-games { grid-area: 3 / 7 / 7 / 8; }






#edit-user-button{
  margin: 5px;
}
#user-image{
  margin: 10px;
}
div#inner-event-el{
  text-align: center;
  margin: 10px;
}
#event-detail-button{
  margin: 10px;
}
#game{
  border: 3px solid black;
}
.game-display{
  border: 1px solid purple;
}
.game-name:hover{
  color:#5e4e6d;
  cursor: pointer;
}
.ui.modal{
 top: 10%;
}
.event-profile:hover{
  color: purple;
  cursor: pointer;
}
.four.wide.column{
  overflow: auto;
  height: 900px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 32px 1.5fr 0.1fr 1.2fr 1.5fr 36px;
  grid-template-rows: 50px 37px 500px 37px 37px 500px;
  grid-gap: 3px 3px;
  grid-template-areas: ". . event-page-header event-page-header . ." ". event-header . friends-coming-header games-coming-header ." ". event-details event-details friends-coming-list games-coming-list ." ". event-details event-details friends-coming-list games-coming-list ." ". comments-header . friends-list-header games-list-header ." ". comments-list . friends-list games-list .";
  background-color: #eceaf2;
}

.event-page-header { grid-area: event-page-header; text-align: center;}

.event-details { grid-area: event-details; }

.friends-coming-header {
  grid-area: friends-coming-header;
  text-align: center;
  background-color: #ca93d6;
  border-radius: 10px;
  color: #efefe3;
  border-style: solid;
  border-color: #efefe3;
}

.friends-coming-list {
  padding: 5px;
  margin-top: 10px;
  grid-area: friends-coming-list;
  overflow: auto;
  background-color: #f2f2f2;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
 }

.games-coming-list {
  padding: 5px;
  grid-area: games-coming-list;
  overflow: auto;
  margin-top: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  background-color: #f2f2f2;

}

.games-coming-header {
  grid-area: games-coming-header;
  background-color: #ca93d6;
  text-align: center;
  border-radius: 10px;
  color: #efefe3;
  border-style: solid;
  border-color: #efefe3;
}

.comments-header {
  grid-area: comments-header;
  background-color: #ca93d6;
  text-align: center;
  border-radius: 10px;
  color: #efefe3;
  border-style: solid;
  border-color: #efefe3;
}

.comments-list {
  margin-top: 10px;
  grid-area: comments-list;
  overflow: auto;
}

.friends-list-header {
  grid-area: friends-list-header;
   background-color: #ca93d6;
   text-align: center;
   border-radius: 10px;
   color: #efefe3;
   border-style: solid;
   border-color: #efefe3;
 }

.friends-list {
  margin-top: 10px;
   grid-area: friends-list;
   overflow: auto;
   border-color: black;
   border-style: solid;
   border-radius: 15px;
   background-color: #f2f2f2;
 }

.games-list-header {
  grid-area: games-list-header;
  background-color: #ca93d6;
  text-align: center;
  border-radius: 10px;
  color: #efefe3;
  border-style: solid;
  border-color: #efefe3;

}

.games-list {
  margin-top: 10px;
  grid-area: games-list;
  overflow: auto;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.event-header { grid-area: event-header; }

.comment{
  background-color:#f2f2f2 !important;
  border-radius: 10px !important;
  border-color: #3c3b3d !important;
  border-style: solid !important;
  border-width: 1px !important;
}

#event-form{
  padding: 70px;
}
.form.ui.form{
  width: 600px !important;
}
#game{
  text-align: center;
  background-color: #b9b7bc;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

 #event-comment{
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 2px;
  padding:4px;
  border-color: #b9b7bc;
  border-style: solid;
}
#event-comment p{
  text-align: right;
  margin-right: 5px;
}
#event-comment h5{
  text-align: left;
}
